.form-container{
    width : 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.form{
    width : 40%;
    margin : auto;
}

.field-container{
    width : 100%;
    margin : auto;
}

label{
    padding : 0;
    color : var(--contrast);
    width : 100%;
}

input, select, textarea{
    width : 100%;
    padding: 12px 20px;
    margin : 10px 0px;
    box-sizing: border-box;
}

.button-submit-form{
    width : 100%;
    height : 40px;
    color : var(--primary);
    background-color: var(--green);
    border : none;
}

.button-submit-form:hover{
    cursor: pointer;
}

input#id_photo_event[type=file]{
    color : white;
}

.error-form{
    font-size: x-small;
    color : var(--contrast);
    margin : 0;
    padding : 0;
}

