.div-background{
    height: 250px;
    width: 100%;
    overflow: hidden;
}

.image-background{
    width: 100%;
    height: auto;
    top: -50%;
}

.page-profile{
    display : flex;
    flex-direction: row;
}

.info{
    width : 100%;
    padding : 10px;
    background-color: var(--green);
    color : var(--contrast);
}

.event{
    font-weight: bold;
    width: 100%;
    font-size: x-large;
    margin : auto;
    padding : 20px;
    text-align: center;
    background-color: var(--primary);
    color : white;
    border-bottom: 1px solid #a6a6a6;
}

.events-image-container{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    background-color: var(--primary)
}

.image-event{
    margin : 20px;
    filter: none;
    background-size: cover;
    background-position: center;
    width: 250px;
    height : 250px;
    border-radius: 50%;
    /*border-style: solid var(--primary);*/
    /*filter: grayscale(100%) grayscale(100%);*/
    overflow: hidden;
}

.image-event .info{
    width : 100%;
    margin-top: 120px;
    text-align: center;
    color : white;
    font-weight: bold;
    font-size: x-large;
    text-decoration: none;
    background-color: var(--primary);
    padding: 10px;
}

.title-list{
    width : 100%;
    padding : 10px;
    background-color: var(--second);
    color: var(--contrast);
}

.follow-profile{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    text-decoration: none;
}

.follow-profile:hover{
    background-color: var(--primary);
}

.avatar{
    margin : 20px;
    filter: none;
    height: auto;
    max-height: 40px;
    width: auto; 
    max-width: 40px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    /*border-style: solid var(--primary);*/
    /*filter: grayscale(100%) grayscale(100%);*/
    overflow: hidden;
}

.name-profile{
    color : var(--contrast);
    font-size: large;
    padding: 8px;
}

.common_following{
    width: 100%;
    color : var(--contrast);
    font-size: x-small;
    text-align: right;
    padding: 8px;
}