:root {

    /* COLOR : */
    --primary: rgb(15, 15, 15);
    --second: #181818;
    --third: #474747;
    --contrast: white;

    --green: #6dcd9a;

    /* FONT :*/
    --font-primary: Verdana, Geneva, sans-serif;
}