{% extends "base.html" %}

{% block title %}Se connecter{% endblock %}
{% block content %}
    <div id="info-container">
        <p class="title">Log in</p>
        <p class="subtitle">Veuillez completez tous les champs du formulaire</p>
    </div>
    {% if error %}
    <p><strong>Mauvais mot de passe ou login</strong></p>
    {% endif %}
    <div class="form-container">
        <form class="form" method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="field-container">
                {{ field.label_tag }}
                {% for error in field.errors %}
                    <p class="error-form">{{ error }}</p>
                {% endfor %}<br>
                {{ field }}
            </div>
            {% endfor %}
            <input class="button-submit-form" type="submit" value="Log in" />
        </form>
    </div>
    
{% endblock %}
