{% extends "base.html" %}

{% block title %}Ma page d'accueil{% endblock %}
{% block content %}

{% if profile.background %}
<div class="image-background" style="background-image:url('{{ profile.background.url }}')">
{% else %}
<div class="image-background">
{% endif %}
</div>

<div id="page-info-container">
	<div class="info-container">
		<p class="title">{{ user.first_name }} {{ user.last_name }}</p>
		<p class="subtitle">{{ user.email }}</p>
	</div>
</div>

<div id="events">
	<p class="event">Les événements auxquels j'ai participés :</p>
	<div class="events-image-container">
		{% for involve in involves %}
		<div class="image-event" style="background-image:url('{{ involve.event.photo_event.url }}')">
			
			<a class="event-title info" href="/events/event/detail/{{ involve.event.id }}"><p class="info">{{ involve.event.title}}</p></a>

		</div>
		{% endfor %}

		<a class="image-event" style="background-image:url('/static/pictures/icon/plus.png')" href="/events/event/create"></a>

	</div>
</div>

<div class="my_events">
	<p class="event">Les événements que j'ai organisés :</p>
	<div class="events-image-container">
		{% for event in my_events %}
		<div class="image-event" style="background-image:url('{{ event.photo_event.url }}')">
			<a class="event-title info" href="/events/event/detail/{{ event.id }}"><p class="info">{{ event.title}}</p></a>
		</div>
		{% endfor %}

		<a class="image-event" style="background-image:url('/static/pictures/icon/plus.png')" href="/events/event/create"></a>

	</div>
</div>
{% endblock %}

