{% extends "base.html" %}

{% block title %}Ma page d'accueil{% endblock %}
{% block content %}

{% if profile.background %}
<div class="image" style="background-image:url('{{ profile.background.url }}')">
{% else %}
<div class="image">
{% endif %}
	{% if profile.avatar %}
	<div class="image-round" style="background-image:url('{{ profile.avatar.url }}')">
	{% else %}
	<div class="image-round" style="background-image:url('http://localhost:8000/media/avatars/default.png')">
	{% endif %}
	</div>
</div>

<div id="info-container">
    <p class="title">{{ user.first_name }} {{ user.last_name }}</p>
    <p class="subtitle">{{ user.email }}</p>
</div>

<p class="event">Les événements auxquels j'ai participés :</p>
<div class="events-container">
	<div class="event-container-tab">
		<p class="event-date-tab">Date :</p>
		
		<div class="event-global-info-tab">
			<p class="event-title-tab">Nom de l'événement :</p>
			<p class="event-admin-tab">Organisateur :</a>
		</div>
	</div>
	{% for involve in involves %}
	
	<div class="event-container">
		<p class="event-date">{{ involve.event.date_start |date:"d F" }}</p>
		
		<div class="event-global-info" href="/events/event/detail/{{ involve.event.id }}">
			<a class="event-title" href="/events/event/detail/{{ involve.event.id }}">{{ involve.event.title}}</a>
			<a class="event-admin" href="/events/event/detail/{{ involve.event.id }}">{{ involve.event.admin.user.first_name}} {{ involve.event.admin.user.last_name}}</a>
		</div>
	</div>
	{% endfor %}
</div>

<p class="event">Les événements que j'ai organisés :</p>
<div class="events-container">
	<div class="event-container-tab">
		<p class="event-date-tab">Date :</p>
		
		<div class="event-global-info-tab">
			<p class="event-title-tab alone">Nom de l'événement :</p>
		</div>
	</div>

	{% for event in my_events %}
	<div class="event-container">
		<p class="event-date">{{ event.date_start |date:"d F" }}</p>
		
		<div class="event-global-info">
			<a class="event-title alone" href="/events/event/detail/{{ event.id }}">{{ event.title}}</a>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}

