<!DOCTYPE html>
<html lang="fr">
<head>
   <title>{% block title %}Bienvenue{% endblock %}</title>
   {% load static %}
   <link rel="stylesheet" href="{% static 'css/w3.css' %}">
   <link rel="stylesheet" href="{% static 'css/variable.css' %}">
   <link rel="stylesheet" href="{% static 'css/base.css' %}">
   <link rel="stylesheet" href="{% static 'css/footer.css' %}">
   <link rel="stylesheet" href="{% static 'css/profile.css' %}">
   <link rel="stylesheet" href="{% static 'css/detail.css' %}">
   <link rel="stylesheet" href="{% static 'css/form.css' %}">

   <script src="{% static 'js/modal.js' %}"></script>
</head>
<body>
    
    <div class="navbar">
        <div class="navbar-links">
            {% if user.is_authenticated %}
            <a onclick="openNav()"><img class="icon-menu" src="{% static "pictures/icon/menu.png" %}"/></a>
            {% endif %}
            <a class="sidenav-link" href="/accounts/profile/">Profile</a>
        </div>
        {% if user.is_authenticated %}
        <div class="username-div">
            <button class="usernamebtn"><img class="icon-user" src="{% static "pictures/icon/user.png" %}"/></button>
            <div class="username-content">
                <a class="user-menu" href="#">{{ user.username }}</a>
                <a class="user-menu" href="#">{{ user.email }}</a>
                <a class="user-menu" href="/accounts/logout/">Se deconnecter</a>
            </div>
        </div> 
        {% endif %}
    </div>

    <section id="content">
        {% if profile.background %}
        <img class="image-background" src="{{ profile.background.url }}">
        {% else %}
        <div class="image-background">
        {% endif %}
        </div>
    
        <div id="page-info-container">
            <div class="info-container">
                <p class="title">{{ user.first_name }} {{ user.last_name }}</p>
            </div>
        </div>
    
        <div class="w3-bar w3-black">
            <a class="w3-bar-item w3-button"id="home" href="/accounts/profile/">Home</a>
            <a class="w3-bar-item w3-button" id="my-events" href="/accounts/profile/my-events/">Mes événements</a>
            <a class="w3-bar-item w3-button" id="my-following" href="/accounts/profile/my-following/">Mes relations</a>
            <a class="w3-bar-item w3-button" id="my-photos" href="/accounts/profile/my-photos/">Mes photos</a>
            <a class="w3-bar-item w3-button" id="my-setting" href="/accounts/profile/my-setting/">Informations</a>
        </div>

        {% block content %}{% endblock %}
        
    </section>

    <footer>
        <div class="copyright">
            <p>2017</p>
        </div>
        <div class="social">
            <a href="#" class="support">Contact Us</a>
            <a href="https://www.facebook.com/nicobernard026" class="face">f</a>
            <a href="#" class="linked">in</a>
        </div>
    </footer>


    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
        }
        
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.body.style.backgroundColor = "white";
        }
    </script>
</body>
</html>